.contact__container{
    background: #3838c9;
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto ;
    border-radius: 1rem;
}

.contact__aside{
    background: fuchsia;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside__image{
    width: 12rem;
    margin-bottom: 2rem;
}
.contact__aside h2{
    text-align: left;
    margin-bottom: 1rem;
}
.contact__aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.contact__details li{
    display: grid;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.contact_socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}
.contact_socials a{
    background: #3838c9;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: 0.3s;
}
.contact_socials a:hover{
    background: transparent;
}

/*form*/
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form_name{
    display: flex;
    gap: 1.2rem;
}
.contact__form input[type="text"]{
    width: 50%;
}
input,textarea{
    width: 100%;
    padding: 1rem;
    background:  #1f2641;
    color: white;
}

.contact__form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}